.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #80DEEA;
  height: 80px;
  padding: 20px;
  color: black;

}

.AboutMe {
  padding-top: 85px;
  height: 700px;
  color: black;
  margin:10px;
  text-align: center;
  display:flex;
  vertical-align:middle;
  max-width: 800px;
 }
.App-footer {
  position: fixed;
  bottom:0;
  width:100%;
  text-align: center;
  height: 46px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
